<div class="additonal-data">
    <div class="processing-data">
        <p class="section-title bold">Processing Details</p>
        <div class="inline-label-data">
            <p>Processed by:</p>
            <p>Elias Eco</p>
        </div>
        <div class="inline-label-data">
            <p>Requested by:</p>
            <p>David Camposano</p>
        </div>
        <div class="inline-label-data notes bold">
            <p>Notes:</p>
            <p>Must verify voltage at time of order</p>
        </div>
    </div>
    <div class="account-manager">
        <p class="section-title bold">Account Manager</p>
        <div class="inline-label-data">
            <p>Name:</p>
            <p>Elias Eco</p>
        </div>
        <div class="inline-label-data">
            <p>Email:</p>
            <p>elias@libertysupply.com</p>
        </div>
        <div class="inline-label-data">
            <p>Phone:</p>
            <p>612-429-4999</p>
        </div>
    </div>
</div>
