<div class="row-total">
    <div class="total-card">
        <div class="total-card-inline-data">
            <p>Subtotal</p>
            <p>:</p>
            <p>$8,860.00</p>
        </div>
        <div class="total-card-inline-data">
            <p>Shipping</p>
            <p>:</p>
            <p>TBD</p>
        </div>
        <div class="total-card-inline-data">
            <p>Tax</p>
            <p>:</p>
            <p>$0.00</p>
        </div>
        <div class="total-card-inline-data">
            <p class="emphasize bold">Total</p>
            <p class="emphasize bold">:</p>
            <p class="emphasize bold">$8,860.00</p>
        </div>
    </div>
</div>
