<div class="row-customer">
    <div class="column">
        <h3>Customer Account</h3>
        <p>SPM Oil & Gast</p>
        <p>601 Weir Way</p>
        <p>Forth Worth TX 76108</p>
    </div>
    <div class="column">
        <h3>Shipping Location</h3>
        <p>Industrial Process Supply</p>
        <p>Attn: Lee Lopez</p>
        <p>49 Hector Bunker St.</p>
        <p>Caguas, PR 725</p>
    </div>
    <div class="column">
        <h3>Logistics Details</h3>
        <p>Contact: Lee Lopez</p>
        <p class="emphasize">Shipping cost to be determined</p>
    </div>
</div>
