<div class="row-lines">
    <div class="row-lines-header">
        <div class="column">Item</div>
        <div class="column">MPN</div>
        <div class="column">Price</div>
        <div class="column">Qty</div>
        <div class="column">Total</div>
    </div>
    <div class="row-lines-data">
        {% for row in DocumentRowsData %}
        <div class="row-line">
            <div class="column">{{row.ItemDescription}}</div>
            <div class="column">{{row.VendorNum}}</div>
            <div class="column">{{row.Currency}}{{row.Price}}</div>
            <div class="column">{{row.Quantity}}</div>
            <div class="column">{{row.Currency}}{{row.LineTotal}}</div>
        </div>
        <div class="row-line-meta">
            <p>SKU: {{row.ItemCode}}</p>
            {% if row.U_LeadTime and row.U_LeadTime|int > 0 %}
            <p class="emphasize">Lead time is {{ row.U_LeadTime }} days</p>
            {% endif %}
        </div>
        <div class="row-liner"><div></div></div>
        {% endfor %}
    </div>
</div>
