@import url('./css/global.css');
@import url('./css/layout.css');

@page {
    size: A4;
    background-color: var(--background-color);
    margin: 5mm 5mm 20mm 5mm;
    @bottom-center {
        content: element(pdf-footer);
        width: 105%;
    }
}
