<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/layout.css" />
    </head>
    <body>
        {% include 'partials/footer.html' %}
        <div class="document-shell">
            <div>{% include 'partials/header.html' %}</div>
            <div>{% include 'partials/row-customer.html' %} {% include 'partials/row-lines.html' %} {% include 'partials/row-total.html' %}</div>
        </div>
        {% include 'partials/additional.html' %}
    </body>
</html>
