<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/packing-slip-msp.css" />

</head>

<body>
<div class="packing-slip-msp">
	<div class="header-sm header-sm1">
		<h2 class="header-sm-subtitle body-xl-bold">Packing SLIp</h2>
		
		<div class="header-sm-row1">
			<object data="assets/header-sm/header-sm-integrated.svg" class="header-sm-integrated-rgb-trimmed header-sm-integrated" type="image/svg+xml"></object>
			
			<div class="header-sm-col">
				<p class="header-sm-text-top micro-bold">13821 Industrial Park Blvd</p>
				<p class="header-sm-text-minneapolis micro-bold">Minneapolis, MN 55441</p>
				
				<div class="row-a row1">
					<object data="assets/row/row-icon1.svg" class="row-icon" type="image/svg+xml"></object>
					<p class="text-a row-text1">(612) 429-4999</p>
				</div>
				
				<div class="row-a row-bottom">
					<object data="assets/row/row-icon2.svg" class="row-icon" type="image/svg+xml"></object>
					<p class="text-a row-text1">support@libertysupply.com</p>
				</div>
			</div>
			
			<div class="header-sm-col-right">
				<div class="header-sm-row-top">
					<p class="header-sm-text-left1 micro-bold">Order Number</p>
					<p class="header-sm-text-symbol1 micro-bold">:</p>
					<p class="header-sm-text-right1 micro-bold">1701033</p>
				</div>
				
				<div class="header-sm-row2">
					<p class="text-a header-sm-text-left2">Pack Date</p>
					<p class="header-sm-text-symbol-a header-sm-text-symbol2">:</p>
					<p class="header-sm-text-right2 micro-normal">1/29/2025</p>
				</div>
				
				<div class="header-sm-row3">
					<p class="text-a header-sm-text-left3">PO Number</p>
					<p class="header-sm-text-symbol-a">:</p>
					<p class="header-sm-text-right3 micro-normal">NE06-00265340</p>
				</div>
				
				<div class="header-sm-row-bottom">
					<p class="header-sm-text-symbol-a header-sm-text-left4">Web Order Number</p>
					<p class="header-sm-text-symbol-a header-sm-text-symbol4">:</p>
					<p class="header-sm-text-right4 micro-normal">W5212017</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="packing-slip-msp-wrapper">
		<div class="card-contents">
			<div class="card-contents-top">
				<div class="card-contents-headings">
					<div class="card-contents-datatable-header-cell-a card-contents-datatable1">Customer Account</div>
					<div class="card-contents-datatable-header-cell-a card-contents-datatable2">Shipping Location</div>
					<div class="card-contents-datatable-header-cell-a card-contents-datatable3">Logistics Details</div>
				</div>
				
				<div class="card-contents-contents">
					<div class="card-contents-col-left group">
						<p class="card-contents-text">Motion Industries NE06</p>
						<p class="card-contents-text">PO BOX 1655</p>
						<p class="card-contents-text">Birmingham AL 35201</p>
					</div>
					
					<div class="card-contents-col group">
						<p class="card-contents-text">1199 Housing Corp Stockroom</p>
						<p class="card-contents-text">Attn: Renew Energy</p>
						<p class="card-contents-text">2120 1st Ave</p>
						<p class="card-contents-text">New York, NY 10029-3320</p>
					</div>
					
					<div class="card-contents-col-right group">
						<p class="card-contents-text">Contact: Tony Ghee</p>
						<p class="card-contents-text">Shipped via: R&L CARRIERS </p>
					</div>
				</div>
			</div>
			
			<div class="card-contents-table">
				<div class="card-contents-th">
					<input class="card-contents-datatable-header-cell-b card-contents-input" value="Item" />
					<div class="card-contents-datatable-header-cell-a card-contents-datatable4">MPN</div>
					<div class="card-contents-datatable-header-cell-b card-contents-datatable5">Ordered</div>
					<div class="card-contents-datatable-header-cell-b card-contents-datatable6">Shipped</div>
					<div class="card-contents-datatable-header-cell-b card-contents-datatable7">Backordered</div>
				</div>
				
				<div class="card-contents-datatable8">
					<div class="card-contents-datatable9">
						<p class="card-contents-text-top mini-normal">
							WILKERSON MODEL E-1510, 4 GC, SS, 30 HP, 1800 RPM, 286T FRAME, WITH 11.5" IMPELLER
						</p>
						<p class="card-contents-text-datatable1 nano-normal">SKU: LSSMFR15IG100C</p>
						
						<div class="card-contents-row-bottom">
							<object data="assets/card-contents-icon.svg" class="card-contents-icon" type="image/svg+xml"></object>
							<p class="card-contents-text-centrifugal nano-italic">
								CENTRIFUGAL PUMPS<br />
								1 B&G In-Line Pump Series Model e-90, 1.5 AB, BF, 1.5 HP, 1800 RPM, 56J Frame with 6.375" Impeller, Standard Seal, U.S. Motors, ODP, Standard Efficient, 230/460/3/60 Motor, 50 gpm, 40 ft Wt.: 89 lbs ea.
							</p>
						</div>
					</div>
					
					<p class="card-contents-text-datatable2 mini-normal">100208631</p>
					<p class="card-contents-text-datatable-body card-contents-text-datatable3">2</p>
					<p class="card-contents-text-datatable-body card-contents-text-datatable4">2</p>
					<p class="card-contents-text-datatable-body card-contents-text-datatable5">0</p>
				</div>
			</div>
		</div>
		
		<div class="other-details other-details1">
			<div class="other-details-col1">
				<p class="other-details-text-h1 micro-bold">Processing Details</p>
				
				<div class="other-details-col2">
					<div class="row-b texts">
						<p class="text-b">Processed by: </p>
						<p class="text-c">Elias Eco</p>
					</div>
					
					<div class="other-details-texts">
						<p class="text-b other-details-text-references">References:</p>
						<p class="text-b other-details-text-freight-acct">
							Based On Sales Quotations 2321120.<br />
							Based On Sales Orders 1710838.
						</p>
					</div>
					
					<div class="other-details-notes">
						<p class="other-details-text other-details-text1">Notes:</p>
						<p class="other-details-text other-details-text-shipping-estimate">
							Shipping estimate 5-7 business days plus transit. Must verify voltage at time of order
						</p>
					</div>
				</div>
			</div>
			
			<div class="other-details-col3">
				<p class="other-details-text-h2 micro-bold">Account Manager</p>
				
				<div class="other-details-col4">
					<div class="row-b row-top">
						<p class="text-b">Name:</p>
						<p class="text-c">Claudia Martinez</p>
					</div>
					
					<div class="other-details-row">
						<p class="text-b">Email:</p>
						<p class="other-details-text-clau mini-normal">claudia@libertysupply.com</p>
					</div>
					
					<div class="other-details-row-bottom">
						<p class="text-c">Phone: </p>
						<p class="other-details-text-frame mini-normal">612-429-4999</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="packing-slip-msp-footer-b">
		<p class="packing-slip-msp-text-left nano-normal">
			Claims for shipping discrepancies or damages must be made within (5) days. Any return items must have prior authorization. To obtain a return merchandise authorization (RMA) or report claims,<br />
			please contact us at (612) 429-4999.
		</p>
		<div class="packing-slip-msp-line divider"></div>
		<a class="packing-slip-msp-link-review-policy nano-bold" href="https://libertysupply.com/pages/policies">Review Policy</a>
		<p class="packing-slip-msp-text-right nano-normal">Page 1 of 1</p>
	</div>
</div>

</body>
</html>